body {
    background-color: rgb(133, 126, 105);
}

h1 {
  color: rgb(65, 46, 11);
  justify-self: center;
  text-align: center;
}

.bigtext {
  color: rgb(138, 126, 16);
  font-size: 32;
  text-align: center;
}

.center {
  justify-self: center;
}

.premiere {
  color: rgb(68, 50, 12);
  background-color: rgb(187, 177, 90);
  font-style: Helvetica;
  transition: 0.3s;
  margin-left: 30px;
  font-size: 25;
  border-radius: 5px;
}
.premiere:hover {
  cursor: pointer;
  transform: scale(1.1);
}
