@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;

$white: #ffffff;
$primary: #e9e9dd;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;

$ease: all 0.3s ease-in-out;

body {
  font-family: $body;
  margin: 0;
}

button {
  cursor: pointer;
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  background: $white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
  background-color: antiquewhite;
}
.project {
  position: relative;
  background: $primary;
  overflow: hidden;
  img {
    position: absolute;
    opacity: 0.9;
  }
  p {
    position: absolute;
    color: #d8ceb2;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 3;
  }
  .grid__title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    z-index: 3;
    text-transform: uppercase;
    color: $dark;
    letter-spacing: 2px;
  }
}

// project hover overlay
.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(darken($primary, 10%), .9);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: $ease;
  button {
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid $white;
    color: $white;
    text-transform: uppercase;
    padding: 10px;
    &:hover {
      transition: $ease;
      background: $white;
      color: $secondary;
      transform: scale(1.05);
    }
  }
}

//project popup overlay

.overlay {
  position: fixed;
  background: rgba($dark, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-items: center;
  align-items: center;
  display: grid;
  opacity:0;
  transition: 0.5s ease-in;
  z-index: 0;
}
.overlay.open {
  opacity: 1;
  align-items: center;
  justify-items: center;
  z-index: 999;
}

.overlay__inner {
  //background: $white;
  //width: 700px;
  padding: 20px;
  position: relative;
  text-align: center;
  //opacity: 1;
}

.overlay__image {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  //margin: auto;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: $dark;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    color: $secondary;
  }
}

.project__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.return-btn {
  position: absolute;
  padding: 10px 20px 20px 10px;
  z-index: 999;
  letter-spacing: 3;
  color: antiquewhite;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.art_details {
  background: antiquewhite;
  text-align: center;
  font-style: italic;
  position: relative;
  top: 50px;
  z-index: -1;
  transition: 1s ease-in;
}

.extra-info {
  opacity: 0;
	position: absolute;
  transition: 0.2s ease-in;
}

.info:hover .extra-info {
  opacity: 1;
}

.info {
  font-size: 20px;
  padding-left: 5px;
  width: 20px;
  border-radius: 15px;
  transition: 0.2s ease-in;
  &:hover {
    background-color: antiquewhite;
    padding: 0 0 0 5px;
    width: 500px;
    text-align: left !important;
  }
}