body {
    background: rgb(202, 202, 202)
}

.pict {
    max-width: 100%;
    max-height: 100%;
}

.hecc {
    text-align: center;
}

button {
    max-width: 800px;
    border-style: none;
    display:inline-block;
    text-align:center;
    padding:10px 15px;
    margin:10px;
    background:red;
    font-size:18px;
    background-color:#efefef;
    border-radius:3px;
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    transition: 0.3s ease-in;
    cursor:pointer;
    &:hover {
        color:white;
        background:#2d3557;
    }
}