@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,500,300);

h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: antiquewhite;
    font-weight: 300;
    margin-top: 2%;
}

body {
    background-image: url("../../images/space.jpg")
}

.main-attributes {
    text-align: center;
}

.apod-css {
    object-fit: contain;
    display: flex;
    margin: auto;
}

.apod-date {
    text-align: center;
}

.apod-text {
    text-align: justify;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin: 5%;
}

.apod-video {
    width: 100%;
    height: 80%;
}

.update-btn {  
    font-family: "Raleway", sans-serif;
    max-width:800px;
    display:inline-block;
    text-align:center;
    padding:10px 15px;
    margin:10px;
    background:red;
    font-size:18px;
    background-color:#efefef;
    border-radius:3px;
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    transition: 0.3s ease-in;
    cursor:pointer;
        &:hover {
        color:white;
        background:#2d3557;
    }
} 

.return-btn {
    float: left;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px 20px 10px;
    z-index: 999;
    letter-spacing: 3;
    color: antiquewhite;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

.date-dd {
    line-height: 35px;
}